/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  /* Cambiar la visualización de la lista de navegación */
  .navbar-nav {
    display: flex;
    justify-content: space-between;
  }

  /* Añadir un margen derecho a los elementos de la lista */
  .navbar-nav .nav-item {
    margin-right: 10px;
  }
}

/* Estilos para la alineación de texto */

p {
  text-align: justify;
}

/* Estilos para el contenedor de la imagen y el texto */
.image-container {
  position: relative;
}

/* Estilos para la imagen de los lápices */
.lapices-logo {
  width: 100%;
  max-height: 400px;
}

/* Estilos para el texto "UNTREF School" */
.untref-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: orange;
}

/* Estilo para el contenedor de contenido */
.content-container {
  margin-left: 50px;
  margin-right: 50px;
}

/* Estilos para la sección de propuesta educativa */

.image-wrapper {
  text-align: center; /* Centra el contenido dentro del contenedor */
}

.image-caption {
  text-align: center; /* Centra el texto */
}

/* Estilo para el fondo del body */
body {
  background-color: #eff5f5; /* Color de fondo #EFF5F5 */
}

/* Estilo de color para el pie de página */
footer {
  background-color: #1f8a70;
}

/* Estilo de la fuente Belanosima */
body {
  font-family: "Belanosima", sans-serif;
}

/* Estilos del menú de navegación */
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-nav .nav-item {
  margin: 0 10px; /* Espacio horizontal entre los elementos del menú */
}

@media (max-width: 576px) {
  /* Estilos para dispositivos móviles */
  .col-6 {
    width: 50%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  /* Estilos para tablets */
  .col-6 {
    width: 33.33%;
  }
}

.image-wrapper {
  /* Alineación vertical del contenido */
  justify-content: center;
  text-align: center;
}

.image-caption {
  /* Espacio entre la imagen y el texto */
  margin-top: 10px;
}
